@import 'reset';
@import 'colors';
@import 'fonts';
@import 'typography';
@import 'button';
@import 'forms';



html {
    font-size: 16px;
    background:#FFFFFF;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    text-rendering: optimizeLegibility !important;
}